.form_container{
  padding-top: 1.2rem;
  margin-top: 0 !important;
}

form input[name="city"],
form input[name="country"] {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 0;
}
